.content-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 550px;
	min-height: 450px;
	padding: 20px;
	margin-bottom: 50px;
	border: 1px solid #999;
	border-radius: 4px;

	&__title {
		align-self: center;
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 10px;
	}
}

@media (max-width: 550px) {
	.content-container {
		min-width: 300px;
		padding: 10px;
		&__title {
			font-size: 24px;
		}
	}
}
