.profile {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-width: 450px;
	min-height: 450px;
	padding: 10px;
	margin-bottom: 60px;
	border: 1px solid #999;
	border-radius: 4px;

	&__title {
		padding: 10px;
	}

	&__user {
		font-size: 20px;
		margin-bottom: 20px;
	}

	&__role {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		padding: 5px;
		background-color: rgba(0, 0, 0, 0.7);
		color: white;
		border-radius: 4px;
		text-align: center;
		text-transform: capitalize;
		transition: 0.3s;
		z-index: -1;
	}

	&__avatar {
		position: relative;
		width: 100px;
		height: 100px;
		margin-bottom: 20px;
		border: 1px solid #999;
		border-radius: 50%;
		background-color: white;
		background-image: url('../../images/avatar.png');
		background-position: center;
		background-size: cover;
		cursor: pointer;

		&:hover .profile__role {
			left: 150%;
		}
	}
}

@media (max-width: 550px) {
	.profile {
		min-width: 300px;
	}
}
