.footer {
	display: flex;
	align-items: center;
	border-top: 1px solid #999;
	padding: 10px;
	font-size: var(--font-size-sm);

	&__links {
		flex-grow: 1;
		text-align: end;

		& div {
			display: inline-block;

			& a {
				padding: 5px 10px;
				border-radius: 4px;
				cursor: pointer;
				color: black;
				font-size: var(--font-size-l);
				transition: 0.3s;

				&:hover {
					background-color: #ddd;
				}
			}
		}
	}
}
